* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-block: 2rem;
  font-family: "Fira Sans", sans-serif;
  background-image: url(./Images/pexels-leeloo-thefirst-5428836.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: grid;
  place-items: center;
}

.accordion {
  width: min(100% - 1rem, 550px);
  color: rgb(36, 36, 36);
  padding: 1.9rem;
  border-radius: 1rem;

  background: rgba(133, 157, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.accordion-title {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  line-height: 1.3;
}

.question {
  cursor: pointer;
  padding-block: 1.2rem;
  font-size: 1.3rem;
  font-weight: 500;
  border-bottom: 1px solid rgb(34, 34, 34);

  position: relative;
}

.question::after {
  content: "+";
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.answer {
  padding-top: 1rem;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;

  display: grid;
  grid-template-rows: 0fr;
  transition: all 700ms;
}

.answer > div {
  overflow: hidden;
}

/* Javascript styling link */

.content-container.active .answer {
  grid-template-rows: 1fr;
}

.content-container.active .question {
  font-size: 1.1rem;
  transition: 700ms;
}

.content-container.active .question::after {
  transform: rotate(45deg);
  transition: 700ms;
}
